<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="startMinMenuItem" value="true" />
    <add key="minTrayMenuItem" value="true" />
    <add key="minCloseMenuItem" value="true" />
    <add key="hddMenuItem" value="true" />
    <add key="cpuMenuItem" value="true" />
    <add key="gpuMenuItem" value="true" />
    <add key="ramMenuItem" value="true" />
    <add key="mainboardMenuItem" value="true" />
    <add key="fanControllerMenuItem" value="true" />
    <add key="networkMenuItem" value="false" />
  </appSettings>
</configuration>
