module trcc_usb 1.0;

require {
    type unconfined_t;
    type usb_device_t;
    type scsi_generic_device_t;
    class chr_file { getattr ioctl open read write };
}

allow unconfined_t usb_device_t:chr_file { getattr ioctl open read write };
allow unconfined_t scsi_generic_device_t:chr_file { getattr ioctl open read write };
